<form [formGroup]="formOtpSignUpService.form">
  <h1 class="uppercase">Xác nhận mã OTP</h1>

  <div class="input-group">
    <label>
      Nhập mã OTP mà chúng tôi đã gửi về địa chỉ email <span>{{ 
        formUserSignUpService.form.value.email
      }}</span>
      để xác nhận việc đăng ký tài khoản
    </label>
    <app-text-field 
      formControlName="otp"
      placeholder="OTP"
    >
    </app-text-field>

    <span 
      class="error"
      *ngIf="
        formOtpSignUpService.form.controls['otp'].touched &&
        formOtpSignUpService.form.controls['otp'].errors?.['required']
      "
    >
      Otp không được để trống
    </span>
  </div>
  
  <div class="input-group">
    <app-button (click)="onSendOtp()" label="Tiếp tục"></app-button>
  </div>
</form>

