<form [formGroup]="formUserChangePassword.form">
  <h1 class="uppercase">Thay đổi mật khẩu</h1>

  <div class="input-group">
    <label>Mật khẩu mới:</label>
    <app-text-field
      formControlName="password"
      placeholder="Mật khẩu mới"
    ></app-text-field>
  </div>

  <div class="input-group">
    <label>Xác nhận mật khẩu mới:</label>
    <app-text-field 
      formControlName="confirmPassword"
      placeholder="Xác nhận mật khẩu mới"
    ></app-text-field>
  </div>
  
  <div class="input-group">
    <app-button (click)="onChangePassword()" label="Tiếp tục"></app-button>
  </div>
</form>

