<form class="single-input-form" [formGroup]="formUserForgotPasswordService.form">
  <h1 class="uppercase">Thay đổi mật khẩu</h1>

  <div class="input-group">
    <label>Mật khẩu mới:</label>
    <app-text-field
      formControlName="password"
      placeholder="Mật khẩu mới"
    ></app-text-field>

    <span 
      class="error"
      *ngIf="
        formUserForgotPasswordService.form.controls['password'].touched &&
        formUserForgotPasswordService.form.controls['password'].errors?.['required']
      "
    >
      Mật khẩu không được để trống
    </span>
    <span 
      class="error"
      *ngIf="
        isFormSubmited && 
        formUserForgotPasswordService.form.controls['password'].errors?.['pattern']
      "
    >
      Mật khẩu phải dài ít nhất 8 kí tự
    </span>
  </div>

  <div class="input-group">
    <label>Xác nhận mật khẩu mới:</label>
    <app-text-field 
      formControlName="confirmPassword"
      placeholder="Xác nhận mật khẩu mới"
    ></app-text-field>

    <span 
      class="error"
      *ngIf="
        formUserForgotPasswordService.form.controls['confirmPassword'].value !==
        formUserForgotPasswordService.form.controls['confirmPassword'].value
      "
    >
      Xác nhận mật khẩu phải giống với mật khẩu
    </span>
  </div>
  
  <div class="input-group">
    <app-button (click)="onChangePassword()" label="Tiếp tục"></app-button>
  </div>
</form>

