<ul>
  <li><a routerLink="" class="uppercase">Trang chủ</a></li>
  <li class="search">
    <app-text-field placeholder="Tìm kiếm sản phẩm">
    </app-text-field>
  </li>
  <li>
    <app-dropdown 
      label="ĐỒ NAM" 
      [dropdownItems]="dropdownItems"
    >
    </app-dropdown>
  </li>
  <li>
    <app-dropdown 
      label="ĐỒ NỮ" 
      [dropdownItems]="dropdownItems"
    >
    </app-dropdown>
  </li>
  <li>
    <app-dropdown 
      label="ĐỒ UNISEX" 
      [dropdownItems]="dropdownItems"
    >
    </app-dropdown>
  </li>
  <li>
    <a routerLink="/login">
      <svg-icon src="log-in.svg"></svg-icon>
    </a>
  </li>
  <li>
    <a routerLink="/sign-up">
      <svg-icon src="user-plus.svg"></svg-icon>
    </a>
  </li>
  <li>
    <a routerLink="/cart">
      <svg-icon src="shopping-cart.svg"></svg-icon>
    </a>
  </li>
</ul>