<a class="landing-image" [routerLink]="">
  <img width="100%" src="https://bizweb.dktcdn.net/100/396/594/themes/937450/assets/slider_3.jpg?1727368308550">
</a>

<!-- <nz-tabset>
  <nz-tab nzTitle="Sản phẩm mới">
    <app-product-list></app-product-list> 
  </nz-tab>
  <nz-tab nzTitle="Sản phẩm bán chạy">
    <app-product-list></app-product-list> 
  </nz-tab>
</nz-tabset> -->

<section>
  <h1>Tìm theo danh mục</h1>
  <div class="product-category-list">
    @for (category of categories; track $index) {
      <app-product-catergory
        [label]="category.name"
        [quantity]="100"
        [image]="'a'"
        [link]="'product-list/' + category.id"
      ></app-product-catergory>
    }
  </div>

</section>

<app-product-section title="Bán chạy"></app-product-section>
<app-product-section title="Mới nhất"></app-product-section>