<a routerLink="/product-item-detail" [queryParams]="{id: product.barcode}">
  <img
    [src]="product.imageAlbum[0]"
    alt=""
    width="100%"
  >
</a>

<p class="name">{{ product.name }}</p>
<div class="bottom-row">
  <p class="price">{{ product.price.toLocaleString() }} đ</p>
  <svg-icon class="star-icon" src="yellow-star.svg"></svg-icon>
  <svg-icon class="align-justify-icon" src="align-justify.svg" (click)="toggleModal()"></svg-icon>
</div>

<nz-modal 
  [(nzVisible)]="isModalOpen"
  (nzOnOk)="handleOk()"  
  (nzOnCancel)="handleCancel()"
  [nzStyle]="{ width: 'fit-content', }"
>
  <ng-container *nzModalContent="">
    <app-product-item-modal
      [product]="product"
    ></app-product-item-modal>
  </ng-container>
</nz-modal>