<div class="product">
  <div class="left">
    <img [src]="product.imageAlbum[0]">
  </div>

  <div class="right">
    <p class="name">{{ product.name }}</p>
    <p class="brand">Thương hiệu: Đang cập nhật</p>
    <p class="price">{{ product.price.toLocaleString() }}đ</p>
    <div class="size">
      <p>Kích thước</p>
      <app-checkbox-with-label label="S" value="S"></app-checkbox-with-label>
      <app-checkbox-with-label label="M" value="M"></app-checkbox-with-label>
      <app-checkbox-with-label label="L" value="L"></app-checkbox-with-label>
      <app-checkbox-with-label label="XL" value="XL"></app-checkbox-with-label>
    </div>
    <div class="sale-notification">
      <p>- Miễn phí vận chuyển dành cho đơn hàng từ 500k trở lên</p>
      <p>- Ưu đãi dành cho khách hàng VIP</p>
    </div>
    <div class="quantity">
      <app-number-field></app-number-field>
      <app-button label="Thêm vào giỏ hàng"></app-button>
    </div>
    <nz-collapse>
      <nz-collapse-panel
        nzHeader="Mô tả sản phẩm"
        [ngStyle]="panelStyle"
      >
        <p>{{ product.description }}</p>
      </nz-collapse-panel>
      <nz-collapse-panel
        nzHeader="Chính sách kiểm hàng"
        [ngStyle]="panelStyle"
      >
        <span class="product-policy">
          I. CAM KẾT

          FAPAS cam kết tất cả sản phẩm được bán ra đều đạt chuẩn chất lượng từ nhà sản xuất. Đồng thời, các sản phẩm khi khách hàng nhận được đều nguyên mới và đúng với thông tin mô tả trên Website: fapas.vn

          II. CHÍNH SÁCH KIỂM HÀNG

          Công ty thực hiện giao hàng trong tất cả mọi khung giờ, tùy thuộc vào yêu cầu của khách hàng. 

          Quy trình nhận hàng - kiểm hàng:

          Bước 1: Khi nhận hàng, Quý khách vui lòng kiểm tra kỹ thông tin nhận hàng trên đơn hàng, cụ thể : Số lượng sản phẩm, Chủng loại sản phẩm, Quy cách đóng hàng.

          Bước 2: Quý khách sau khi kiểm hàng trên phương tiện vận chuyển đảm bảo chất lượng thì tiến hành thanh toán cho bên giao hàng. 

          Bước 3: Bên giao hàng có trách nhiệm cho khách kiểm tra hàng trước khi thanh toán. Lưu ý giữ lại nguyên bill trong trường hợp Quý khách muốn đổi/trả hàng hoá.

          Nếu đơn hàng bị một trong các trường hợp sau:

          Thừa/ thiếu sản phẩm
          Sản phẩm không đúng với đơn hàng đã đặt
          Sản phẩm bị hư hỏng khi nhìn bằng mắt thường
          Quý khách hàng có quyền từ chối nhận hàng và gọi ngay đến Hotline 028.99999.00 để được hỗ trợ nhanh nhất.
        </span>
      </nz-collapse-panel>
    </nz-collapse>
  </div>
</div>

<p class="title">Có thể bạn sẽ thích</p>
<app-product-list></app-product-list>

<p class="title">Sản phẩm cùng loại</p>
<app-product-list></app-product-list>