:host {
  .product {
    display: flex;
    padding: var(--spacing-08);
    gap: var(--spacing-08);
    // overflow-y: scroll;

    .right {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-04);

      p {
        font-size: 25px;
      }

      .name {
        font-size: 40px;
        font-weight: 600;
      }

      .price {
        font-weight: 600;
      }

      .size {
        display: flex;
        justify-content: space-between;
      }

      .sale-notification {
        padding: var(--spacing-04);
        border: 1px dashed black;

        p {
          font-size: 20px;
        }
      }

      .quantity {
        display: flex;
        gap: var(--spacing-04);
      }

      .product-policy {
        white-space: pre-line;
      }
    }
  }
}

p {
  margin: 0;
}

.title {
  font-size: 30px;
  font-weight: 600;
  padding-left: var(--spacing-04);
}