:host {
  display: flex;
  gap: var(--spacing-04);
  flex-direction: column;

  .title {
    font-size: 20px;
    font-weight: 600;
  }

  form {
    display: flex;
    gap: var(--spacing-04);
    flex-direction: column;
    
    .address {
      display: flex;
      gap: var(--spacing-04);

      .address-item {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-01);
        flex: 1;
      }
    }

    .navigate-section {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}