:host {
  display: flex;
  gap: var(--spacing-04);
  flex-direction: column;

  .box {
    padding: var(--spacing-04);
    border: 1px solid gray;
  }
  
  .title {
    font-size: 20px;
    font-weight: 600;
  }

  .delivery-section {
    display: flex;
    justify-content: space-between;
  }

  .delivery-info {
    display: flex;
  }

  .navigate-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.subtitle {
  font-size: 20px;
}