<form class="single-input-form" [formGroup]="formUserLoginService.form">
  <h1 class="uppercase">Đăng nhập</h1>

  <div class="input-group">
    <label>Tên tài khoản:</label>

    <app-text-field 
      formControlName="username"
      placeholder="Tên tài khoản. Ví dụ: LongNguyen"
    >
    </app-text-field>

    <span 
      *ngIf="
        formUserLoginService.form.controls['username'].touched &&
        formUserLoginService.form.controls['username'].errors?.['required']" 
      class="error"
    >
      Tên tài khoản không được để trống
    </span>
  </div>
  
  <div class="input-group">
    <label>Mật khẩu:</label>

    <app-password-field formControlName="password" placeholder="Mật khẩu">
    </app-password-field>

    <span 
      class="error"
      *ngIf="
        formUserLoginService.form.controls['password'].touched &&
        formUserLoginService.form.controls['password'].errors?.['required']
      "
    >
      Mật khẩu không được để trống
    </span>
  </div>

  <div class="save-account-and-forgot-password-group">
    <app-checkbox-with-label label="Ghi nhớ tài khoản">
    </app-checkbox-with-label>

    <app-link link="email-input" label="Quên mật khẩu?"></app-link>
  </div>
  
  <div class="input-group">
    <app-button 
      [isDisabled]="isDisable()"
      (click)="onClickLogIn()" 
      iconName="log-in" 
      label="Đăng nhập"
    >
    </app-button>
  </div>

  <div *ngIf="isLoginFail">
    <span class="error">
      Đăng nhập thất bại
    </span>
  </div>

  <div class="save-account-and-forgot-password-group">
    <p>Chưa có tài khoản? Đăng ký tại
      <app-link link="sign-up" label="đây"></app-link>
    </p>
  </div>
</form>
