<form [formGroup]="formUserAdd.form">
  <h1>Dang nhap</h1>

  <div class="input-group">
    <label>Ten tai khoan:</label>
    <app-text-field 
      formControlName="username"
      placeholder="Ten tai khoan"
    >
    </app-text-field>
    <p 
      class="error"
      *ngIf="formUserAdd.form.controls['username'].touched"  
    >
      <span *ngIf="formUserAdd.form.controls['username'].errors?.['required']">
        Ten tai khoan khong duoc de trong
      </span>
    </p>
  </div>
  
  <div class="input-group">
    <label>Mat khau:</label>
    <app-password-field
      formControlName="password"
      placeholder="Mat khau"
    >
    </app-password-field>

    <p 
      class="error"
      *ngIf="formUserAdd.form.controls['password'].touched"  
    >
      <span *ngIf="formUserAdd.form.controls['password'].errors?.['required']">
        Mat khau khong duoc de trong
      </span>
    </p>
  </div>

  <div class="save-account-and-forgot-password-group">
    <app-checkbox-with-label label="Ghi nho tai khoan">
    </app-checkbox-with-label>

    <app-link link="sign-up" label="Quen mat khau?"></app-link>
  </div>
  
  <div class="input-group">
    <app-button 
      [isDisabled]="isDisable()"
      (click)="onClickLogIn()" 
      iconName="log-in" 
      label="Dang nhap"
    >
    </app-button>
  </div>
  <div class="save-account-and-forgot-password-group">
    <p>Chua co tai khoan? Dang ky tai 
      <app-link link="email-input" label="day"></app-link>
    </p>
  </div>
</form>
