:host {
  background: #f6f6f6;
  width: 15%;

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-01);

    img {
      max-width: 100%;
    }

    .label {
      font-weight: 600;
      font-size: 20px;
      margin: 0;
    }

    .quantity {
      color: #bbb;
      font-size: 18px;
    }
  }

}