:host {
  background: var(--primary-bg-color);
  width: 15%;

  a {
    align-items: center;

    img {
      max-width: 100%;
    }

    .label {
      font-weight: 600;
      font-size: 20px;
      margin: 0;
    }

    .quantity {
      color: #bbb;
      font-size: 18px;
    }
  }
}