<form [formGroup]="formUserAdd.form">
  <h1 class="uppercase">Đăng ký tài khoản</h1>

  <div class="input-group">
    <label>Họ tên:</label>
    <app-text-field 
      formControlName="username"
      placeholder="Họ tên. Ví dụ: Nguyễn Văn A"
    >
    </app-text-field>
  </div>
  
  <div class="input-group">
    <label>Số điện thoại:</label>
    <app-text-field 
      formControlName="phone"
      placeholder="Số điện thoại. Ví dụ: 0912345678"
    >
    </app-text-field>
  </div>
  
  <div class="input-group">
    <label>Email:</label>
    <app-text-field 
      formControlName="email"
      placeholder="Email. Ví dụ: tranbao@gmail.com"
    ></app-text-field>
  </div>
  
  <div class="input-group">
    <label>Tên tài khoản:</label>
    <app-text-field 
      formControlName="name"
      placeholder="Tên tài khoản. Ví dụ: LeTrongNghia"
    >
    </app-text-field>
  </div>
  
  <div class="input-group">
    <label>Mật khẩu:</label>
    <app-text-field 
      formControlName="password"
      placeholder="Mật khẩu"
    >
    </app-text-field>
  </div>
  
  <div class="input-group">
    <label>Xác nhận mật khẩu:</label>
    <app-text-field 
      formControlName="confirmPassword"
      placeholder="Xác nhận mật khẩu"
    >
    </app-text-field>
  </div>
  
  <div 
    class="input-group"
    (click)="onRegister()" 
  >
    <app-button label="Đăng ký"></app-button>
  </div>
</form>