<div *ngIf="product" class="left">
  <nz-carousel nzEffect="scrollx">
    <div *ngFor="let image of product.imageAlbum" nz-carousel-content>
      <img [src]="image" width="100%"> 
    </div>
  </nz-carousel>
</div>

<div *ngIf="product" class="right">
  <nz-table [nzData]="productDetails">
    <thead>
      <tr>
        <th>Số lượng</th>
        <th>Kích cỡ</th>
        <th>Đặt hàng</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let detail of productDetails">
        <td>{{ detail.quantity }} cái</td>
        <td>{{ detail.size }}</td>
        <td><a routerLink="">Thêm vào giỏ hàng</a></td>
      </tr>
    </tbody>
  </nz-table>

  <p class="name">{{ product.name }}</p>
  <p class="price">{{ product.price.toLocaleString() }} đ</p>
  <p class="description">{{ product.description }} đ</p>
</div>

<!-- <nz- -->