:host {
  display: flex;
  gap: var(--spacing-08);
  padding: var(--spacing-08);

  .left {
    width: 50vw;
    flex: 1;

    [nz-carousel-content] {
      overflow: hidden;
    }

    img {
      pointer-events: none;
      user-select: none;
    }
  }

  .right {
    p {
      margin: 0;
    }

    .name {
      font-size: 2rem;
    }

    .price {
      font-size: 1.5rem;
      color: red;
    }
  }
}
