<app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>

<div class="cart vertical-layout">
  <div class="product-title shadow">
    <input type="checkbox">
    <p>Xóa</p>
    <p>Tên sản phẩm</p>
    <p>Kích cỡ</p>
    <p>Số lượng</p>
    <p>Giá</p>
  </div>

  <div class="product-list vertical-layout">
    @if (cart && cart.hasOwnProperty('listCartItem')) {
      @for (cartItem of cart.listCartItem; track $index) {
        <app-cart-item 
          (changeQuantityEventEmitter)="onChangeProductQuantity($event)"
          [cartItem]="cartItem"
        >
        </app-cart-item>
      }
    }
  </div>

  <div class="right vertical-layout">
    <div class="total-section">
      <p class="uppercase">Tổng cộng</p>
      <p class="total">{{ getTotal() | formatCurrency }}đ</p>
    </div>

    <div class="address">
      <p class="uppercase">Địa chỉ thanh toán</p>

      <app-text-field></app-text-field>
    </div>

    <div class="pay-btn">
      <app-button (click)="onClickPay()" label="Thanh toán"></app-button>
    </div>

    <p>(Thanh toán khi nhận hàng)</p>
  </div>
</div>

<app-product-section title="Có thể bạn sẽ thích"></app-product-section>
<app-product-section title="Sản phẩm cùng loại"></app-product-section>