<app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>

<div *ngIf="cart.listCartItem.length > 0; else noCartItem">
<div class="cart vertical-layout">
  <div class="product-title shadow">
    <input type="checkbox">
    <p>Xóa</p>
    <p>Tên sản phẩm</p>
    <p>Kích cỡ</p>
    <p>Số lượng</p>
      <p>Tổng cộng</p>
      <p>Thành tiền</p>
  </div>

  <div class="product-list vertical-layout">
    @if (cart && cart.hasOwnProperty('listCartItem')) {
      @for (cartItem of cart.listCartItem; track $index) {
        <app-cart-item 
          (changeQuantityEventEmitter)="onChangeProductQuantity($event)"
          [cartItem]="cartItem"
        >
        </app-cart-item>
      }
    }
  </div>

  <div class="right vertical-layout">
      <app-button (click)="onClickPay()" label="Thanh toán"></app-button>
    </div>
  </div>
</div>

<ng-template #noCartItem>
  <div class="no-cart-item">Không có sản phẩm trong giỏ hàng để thanh toán</div>
</ng-template>

<app-product-section title="Có thể bạn sẽ thích"></app-product-section>
<app-product-section title="Sản phẩm cùng loại"></app-product-section>