:host {
  padding: var(--spacing-04);

  .cart {
    display: grid;
    grid-template-columns: 7fr 3fr;
    gap: var(--spacing-04);

    .left {

    }

    .right {
      background: #eee;
      padding: var(--spacing-04);

      .total-section {
        display: flex;
        justify-content: space-between;

        p {
          font-size: 30px;
        }

        .total {
          font-weight: 600;
        }
      }
    }
  }

  .title {
    font-size: 30px;
    font-weight: 600;
    padding-left: var(--spacing-04);
  }
}
