:host {
  display: flex;
  align-items: center;
  border: 1px solid var(--primary-text-color);
  border-radius: var(--spacing-04);
  padding: var(--spacing-01);
  gap: var(--spacing-01);
  color: var(--primary-text-color);

  svg-icon {
    cursor: pointer;
    user-select: none;
  }

  input {
    border: none;
    width: 30px;
    text-align: center;

    &::-webkit-inner-spin-button, 
    &::-webkit-outer-spin-button { 
      -webkit-appearance: none;
      margin: 0;
    } 
  }
}