<form class="single-input-form" [formGroup]="formOtpForgotPasswordService.form">
  <h1 class="uppercase">Quên mật khẩu</h1>

  <div class="input-group">
    <label>
      Nhập email để nhận mã OTP mà chúng tôi sẽ gửi về để cập nhật mật khẩu
    </label>

    <app-text-field
      formControlName="email"
      placeholder="Email"
    >
    </app-text-field>

    <span 
      class="error"
      *ngIf="
        formOtpForgotPasswordService.form.controls['email'].touched &&
        formOtpForgotPasswordService.form.controls['email'].errors?.['required']
      "
    >
      Email không được để trống
    </span>

    <span 
      class="error"
      *ngIf="
        isFormSubmited && 
        formOtpForgotPasswordService.form.controls['email'].errors?.['pattern']
      "
    >
      Email phải bắt đầu bằng chữ cái, không được chứa kí tự đặc biệt và kết thúc
      bằng &#64;gmail.com
    </span>
  </div>

  <div class="input-group">
    <app-button (click)="onClick()" label="Tiếp tục">
    </app-button>
  </div>
</form>
