<form>
  <h1 class="uppercase">Đăng ký tài khoản</h1>

  <div class="input-group">
    <label>
      Nhập email để nhận mã OTP mà chúng tôi sẽ gửi về để đăng ký tài khoản
    </label>
    <app-text-field
      (changeValueEventEmitter)="onChangeEmail($event)" 
      placeholder="Email"
    >
    </app-text-field>
    <p *ngIf="!onValidateEmail()" class="error">
      Email phải bắt đầu bằng chữ cái, có ít nhất 1 ký tự và kết thúc với &#64;gmail.com
    </p>
  </div>
  
  <div class="input-group">
    <app-button (click)="onClick()" label="Tiếp tục">
    </app-button>
  </div>
</form>
