// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  --primary-bg-color: #fff;
  --primary-text-color: #000;
  --secondary-bg-color: #343a40;
  --secondary-text-color: #fff;
  --border-radius: 5px;

  --spacing-00: 0px;
  --spacing-01: 4px;
  --spacing-02: calc(var(--spacing-01) * 2);
  --spacing-03: calc(var(--spacing-01) * 3);
  --spacing-04: calc(var(--spacing-01) * 4);
  --spacing-05: calc(var(--spacing-01) * 5);
  --spacing-06: calc(var(--spacing-01) * 6);
  --spacing-07: calc(var(--spacing-01) * 7);
  --spacing-08: calc(var(--spacing-01) * 8);
  --spacing-09: calc(var(--spacing-01) * 9);
  --spacing-10: calc(var(--spacing-01) * 10);
  --spacing-11: calc(var(--spacing-01) * 11);
  --spacing-12: calc(var(--spacing-01) * 12);
  --spacing-13: calc(var(--spacing-01) * 13);
  --spacing-14: calc(var(--spacing-01) * 14);
  --spacing-15: calc(var(--spacing-01) * 15);

  --main-content-margin: var(--spacing-15);
  --max-width: 860px;
}

.uppercase {
  text-transform: uppercase;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1, ul {
  margin: 0;
}

p, a, label, button, span {
  font-size: 16px;
}

svg-icon {
  display: flex;
  align-items: center;
}

.error {
  color: #ff0000;
}

html, body { height: 100%; }
body { margin: 0 }

app-email-input, 
app-forgot-password-input, 
app-login, 
app-otp-input-to-reset-password, 
app-otp-input-to-sign-up, 
app-sign-up {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin: var(--main-content-margin);
  
  .single-input-form {
    width: 50vw;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
    border-radius: var(--border-radius);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    h1 {
      font-weight: 600;
    }

    .input-group {
      display: flex;
      flex-direction: column;
      gap: 8px;

      label {
        span {
          font-weight: 600;
        }
      }
    }
  }

  @media screen and (max-width: 860px) {
    padding: 0;
    margin: 0;

    .single-input-form {
      width: 100%;
    }
  }
}

@property --angle {
  syntax: "<angle";
  initial-value: 0deg;
  inherits: false;
}
